@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');
body,nav{
  overflow:hidden;
}
.preloader{
  width:100%;
  height:100vh;
  background-color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.status{
  width:100px;
  height:100px;
  background-image: url('logo.png')
}
#navbar {
  background-color: #FFFFFF;
  
}
.navbar-objects{
  color:#58CCED;
  font-family:Cursive;
  font-weight: bold;
}
.icon{
  color:#58CCED;
}
.li-navbar:hover{
  background-color: #58CCED;
}
.li-navbar:hover span{
  color:white;
}
#home-background{
  background-image: url(home-background.jpg);
  width: 100%;
  height:100vh;
  text-align:center;
}
#home-header{
  overflow:hidden;
  color:White;
  font-size:700%
}
#home-h2{
  transform: translate(0%, -50%);
  color:white
}
